@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: 'itc-avant-garde-gothic-pro';
    font-weight: 700;
    font-style: normal;
    src: local('※'),
      url('./assets/fonts/ITCAvantGardeStdBold.otf') format('opentype');
  }

  @font-face {
    font-family: 'itc-avant-garde-gothic-pro';
    font-weight: 500;
    font-style: normal;
    src: local('※'),
    url('./assets/fonts/ITCAvantGardeStdDemi.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'itc-avant-garde-gothic-pro';
    font-weight: 300;
    font-style: normal;
    src: local('※'),
    url('./assets/fonts/ITCAvantGardeStdMedium.otf') format('opentype');
  }


  body {
    position: relative;
    font-family: 'itc-avant-garde-gothic-pro', sans-serif;
    font-style: normal;
    font-size: 14px;
    max-width: 1920px;
    overflow-x: hidden;
    vertical-align: baseline ;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  body::-webkit-scrollbar {
    display: none;
  }
}