@tailwind base;


@layer base {

    .mini-board-sort {
        @apply lg:after:content-none
    }
    .board-sort .sort-type,
    .board-sort .sort-date,
    .board-sort .sort-gender {
        @apply text-[17px] leading-[25px] lg:text-[23px] lg:leading-[33px]
    }

    .mini-board-sort .sort-type,
    .mini-board-sort .sort-date,
    .mini-board-sort .sort-gender {
        @apply text-[13px] leading-[20px]
    }

    .mini-board-sort .sort-date,
    .mini-board-sort .sort-gender {
        @apply ml-[10%]
    }

    .mini-board-sort .sort-type > span,
    .mini-board-sort .sort-date > span,
    .mini-board-sort .sort-gender > span {
        @apply lg:hidden
    }

    .mini-board-sort .sort-type .sort-button,
    .mini-board-sort .sort-date .sort-button,
    .mini-board-sort .sort-gender .sort-button {
        @apply lg:min-w-[120px]
    }

    .mini-board-sort .sort-title {
        @apply lg:after:content-none
    }

    .mini-board-sort .sort-title > i{
        @apply lg:w-[16px] lg:h-[16px]
    }

    .dropdown {
     @apply z-[2] absolute bg-white border-black border-[1px] w-[100px] top-[34px] lg:top-[45px] lg:w-[200px]
    }

    .mini-board-sort .dropdown {
        @apply lg:top-[30px]
    }

    .mini-board-sort .dropdown i{
        @apply lg:w-[16px] lg:h-[16px]
    }

}

.sort-type .sort-date button::after {
    margin-top: -2px;
}

.sort-type .sort-date button.open::after {
    margin-top: -7px;
    transform: rotate(180deg);
}